*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

/main/einvoice-bom/target
/main/einvoice-commons/commons-tools/target
/main/einvoice-commons/commons-ubl/target
/main/einvoice-default/target
/main/einvoice-model/model-private/target
/main/einvoice-model/model-public/target
/main/einvoice-process/process-declare/target
/main/einvoice-process/process-download/target
/main/einvoice-process/process-replicate/target
/main/einvoice-process/process-signonline/target
/main/einvoice-process/process-sync/target
/main/einvoice-ws/ws-client/target
/main/einvoice-ws/ws-clientcdi/target
/main/einvoice-ws/ws-clienttest/target
/main/einvoice-process/process-copy/target/
/main/einvoice-process/process-replicatedata/target/
/main/einvoice-process/process-replicateresponse/target/
/customizations/hv/hv-replicator/target/
/customizations/tgestiona/einvoice-default/target/
/customizations/tgestiona/process-copy/target/
/customizations/pepsico/einvoice-default/target/
/customizations/pepsico/process-replicate/target/
/customizations/pepsico/model-public/target/
/main/einvoice-commons/commons-constants/target/
/customizations/pepsico/einvoice-process-replicateresponse/target/
/main/einvoice-process/process-replicatesummary/target/
/main/einvoice-commons/commons-configuration/target/
/customizations/hv/model-public/target/
/main/einvoice-model/model-summary/target/
/main/einvoice-model/model-commons/target/
/main/einvoice-process/process-replicateresponsesummary/target/
/main/einvoice-process/process-replicatedatasummary/target/
/customizations/hv/process-replicate/target/
/customizations/hv/process-replicateresponse/target/
/customizations/hv/dist-ear/target/
/main/einvoice-dist/einvoice-dist-ear/target/
/main/einvoice-dist/dist-ear/target/
/main/einvoice-dist/dist-apirest/target/
/main/einvoice-dist/dist-console/target/
/main/einvoice-process/process-core/target/
/main/einvoice-dist/dist-ear-min/target/
/main/einvoice-dist/dist-earmin/target/
/main/einvoice-ws/ws-dto/target/
/customizations/tgestiona/process-download/target/
/customizations/tgestiona/dist-ear/target/
/main/einvoice-dist/dist-core/target/
/main/einvoice-dist/dist-single-core/target/
/main/einvoice-dist/dist-single-replicate/target/
/customizations/pepsico/dist-single-replicate/target/
/main/einvoice-dist/dist-single-copy/target/
/main/einvoice-dist/dist-single-downloadcopy/target/
/main/einvoice-dist/dist-security/target/
/customizations/tgestiona/dist-copy/target/
main/einvoice-commons/commons-ubl/out.xml
main/einvoice-commons/commons-ubl/voideddocuments.xml
main/einvoice-commons/commons-ubl/summarydocuments.xml
/main/einvoice-dist/dist-input-document/target/
/main/einvoice-dist/dist-new-replicate/target/
/main/einvoice-dist/dist-apirest2/target/
/main/einvoice-dist/dist-earmin2/target/
/main/einvoice-dist2/dist2-api/target/
/main/einvoice-dist2/dist2-driver/target/