*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

/main/einvoice-bom/target
/main/einvoice-commons/commons-tools/target
/main/einvoice-commons/commons-ubl/target
/main/einvoice-default/target
/main/einvoice-model/model-private/target
/main/einvoice-model/model-public/target
/main/einvoice-process/process-declare/target
/main/einvoice-process/process-download/target
/main/einvoice-process/process-replicate/target
/main/einvoice-process/process-signonline/target
/main/einvoice-process/process-sync/target
/main/einvoice-ws/ws-client/target
/main/einvoice-ws/ws-clientcdi/target
/main/einvoice-ws/ws-clienttest/target
